.home-container1 {
    width: 100%;
    display: flex;
    max-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: #000000;
  }
   
  .home-hero-section {
    width: 100%;
    height: 1069px;
    display: flex;
    padding: 8%;
    overflow: hidden;
    max-width: 1920px;
    align-items: center;
    flex-direction: column;
  }
   
  .home-hero-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
   
  .home-hero-quote-container {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    position: relative;
    align-self: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
   
  .home-hero-quote-text {
    margin-bottom: 0.5rem;
  }
   
  .home-container2 {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    border-color: #b3cbff;
    border-style: solid;
    border-width: 2px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  .home-hero-content-container {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
  }
   
  .home-hero-content-text {
    fill: var(--dl-color-theme-primary2);
    color: rgb(255, 0, 0);
    font-size: 64px;
    align-self: center;
    margin-top: 5rem;
    font-family: "Jost";
    margin-bottom: 5rem;
  }
   
  .home-text10 {
    color: #ff0000;
  }
   
  .home-text11 {
    color: #ffffff;
  }
   
  .home-text12 {
    color: #ffffff;
  }
   
  .home-text13 {
    color: #ffffff;
  }
   
  .home-text14 {
    color: #ffffff;
  }
   
  .home-text15 {
    color: #ffffff;
    letter-spacing: 15px;
  }
   
  .home-text16 {
    color: #ffffff;
    letter-spacing: 15px;
  }
   
  .home-text17 {
    color: #ff0000;
    letter-spacing: 15px;
  }
   
  .home-text18 {
    color: #ffffff;
    letter-spacing: 15px;
  }
   
  .home-text19 {
    color: #ffffff;
  }
   
  .home-hero-content-image {
    width: 25%;
    height: auto;
    object-fit: cover;
  }
   
  .home-container3 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
   
  .home-container4 {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
  }
   
  .home-button {
    gap: 0.5rem;
    fill: var(--dl-color-theme-neutral-dark);
    color: rgb(255, 255, 255);
    display: flex;
    align-self: center;
    transition: 0.3s;
    align-items: center;
    font-family: "Jost";
    padding-top: 1rem;
    border-color: #ff0000;
    border-width: 1px;
    padding-left: 2rem;
    border-radius: 50px;
    padding-right: 2rem;
    flex-direction: row;
    padding-bottom: 1rem;
    justify-content: center;
  }
   
  .home-button:hover {
    box-shadow: 0px 3px 15px 0px #d4d4d4;
    border-color: #ffffff;
  }
   
  .home-button:active {
    box-shadow: 0px 3px 15px 0px #ff0000;
  }
   
  .home-icon1 {
    color: #f70000;
  }
   
  .home-icon5 {
    fill: var(--dl-color-theme-neutral-dark);
    color: #ff0000;
    width: 64px;
    height: 64px;
  }

  .heroheaderqoute {
    fill: var(--dl-color-theme-secondary1);
    color: #ffffff;
    font-size: clamp(1rem, 0.8338rem + 0.5552vw, 1.5rem);
    font-family: "Jost";
    margin-bottom: 0.5rem;
    letter-spacing: 4px;
    text-transform: uppercase;
  }

  @media(max-width: 1200px) {
    .home-hero-section {
      justify-content: center;
    }
    .home-hero-content-image {
      width: 300px;
      height: 300px;
    }
  }
   
  @media(max-width: 991px) {
    .home-hero-quote-container {
      align-self: center;
      margin-bottom: var(--dl-space-space-twounits);
    }
    .home-hero-content-container {
      margin-top: 2rem;
      margin-bottom: 2rem;
      flex-direction: column-reverse;
    }
    .home-hero-content-text {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    .home-hero-content-image {
      width: 25%;
      height: auto;
    }
  }
   
  @media(max-width: 767px) {
    .home-hero-content-text {
      font-size: 32px;
    }
    .home-container3 {
      flex-direction: column;
    }
    .home-icon5 {
      margin-top: 2rem;
    }
    .heroheaderqoute {
        letter-spacing: 1.7px;
      }
  }
  